#main div {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  font-size: 50px;
  size: 60px;
  cursor: pointer;
}

#main {
  height: 200px;
  width: 190px;
  margin: 0vw 42vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  margin-bottom: 20px;
}

body {
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
}

#submit,
#reset {
  border: 1px solid;
  padding: 8px;
  border-radius: 7px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#name1,
#name2 {
  font-size: 30px;
  color: brown
}

#currentPlayer {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}